include ./sites/swchen.local/upstream.config;

server {
  server_name swchen.local;
  include ./sites/swchen.local/http.config;
  root /Users/tkirby/workspace/zbryikt/swchen.online/static/;
}

server {
  server_name swchen.local;
  root /Users/tkirby/workspace/zbryikt/swchen.online/static/;
  include ./sites/swchen.local/https.config;
  include ./sites/swchen.local/proxy.config;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/swchen.local/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/swchen.local/server.key;
}
