include ./sites/swchen.online/upstream.config;

server {
  server_name swchen.online;
  include ./sites/swchen.online/http.config;
  root /Users/tkirby/workspace/zbryikt/swchen.online/static/;
}

server {
  server_name swchen.online;
  root /Users/tkirby/workspace/zbryikt/swchen.online/static/;
  include ./sites/swchen.online/https.config;
  include ./sites/swchen.online/proxy.config;
  ssl_certificate /Users/tkirby/workspace/zbryikt/projects/cert/swchen.online/server.crt;
  ssl_certificate_key /Users/tkirby/workspace/zbryikt/projects/cert/swchen.online/server.key;
}
