include ./sites-enabled/swchen.online/upstream.config;

#server {
#  server_name swchen.org;
#  root /home/web/project/swchen.online/static/;
#}

#server {
#  server_name swchen.org;
#  root /home/web/project/swchen.online/static/;
#  include ./sites-enabled/swchen.online/http.config;
#}

server {
  server_name swchen.org;
  root /home/web/project/swchen.online/static/;
  location ^~ /test/ { internal; }
  include ./sites-enabled/swchen.online/https.config;
  include ./sites-enabled/swchen.online/proxy.config;
  ssl_certificate /etc/letsencrypt/live/swchen.org/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/swchen.org/privkey.pem;
}
