include ./sites-enabled/swchen.online/upstream.config;

server {
  server_name swchen.online;
  root /home/web/projects/swchen.online/static/;
  #include ./sites-enabled/swchen.online/http.config;
}

#server {
#  server_name swchen.online;
#  root /home/web/projects/swchen.online/static/;
#  location ^~ /test/ { internal; }
#  include ./sites-enabled/swchen.online/https.config;
#  include ./sites-enabled/swchen.online/proxy.config;
#  ssl_certificate /etc/letsencrypt/live/swchen.online/fullchain.pem;
#  ssl_certificate_key /etc/letsencrypt/live/swchen.online/privkey.pem;
#}
