extends /base.pug
block vars
block head
block body
  .w-1024.rwd.mx-auto.typset.heading-contrast
    +scope("admin")
      .d-flex.align-items-center.justify-content-center
        .btn-group.mr-2
          .btn.btn-outline-dark(ld="accept") 已通過
          .btn.btn-outline-dark(ld="reject") 不通過
          .btn.btn-outline-dark(ld="pending") 尚未審
        div
          input.form-control(ld="offset",value="0")
      .d-flex.flex-wrap
        .w-100.flex-grow-1.p-2(ld-each="item"): .card.w-100: .card-body
          .d-flex
            .w-75.flex-grow-1
              .d-flex 單位: #[.ml-2(ld="source")]
              .d-flex 留言: #[.ml-2(ld="content")]
              .d-flex 聯絡方式: #[.ml-2(ld="contact")]
              .d-flex 是否公開: #[.ml-2(ld="publish")]
              .d-flex 社群連結: #[.ml-2(ld="social")]
            .w-25.flex-grow-1: img.w-100(ld="image")
          hr
          .btn.btn-outline-dark.mr-2.btn-sm(ld="ok") OK
          .btn.btn-outline-dark.btn-sm NOT OK

  +script("/js/condolence/admin.js")


block script
