//- module
.w-100.p-4
  .w-768.mx-auto.rwd.border-top: .py-4
    .d-flex.align-items-center
      .flex-grow-1
        //-in memorial of swchen, by his friends
      .text-sm
        a(href="/list/") 大家的留言
        .mx-2 /
        a(href="/wall/") 留言牆

