//- module
.w-100.p-4
  .w-768.mx-auto.rwd.border-top: .py-4
    .d-flex.align-items-center
      .flex-grow-1 in memorial of swchen, by his friends
      .text-sm
        a(href="/privacy/") 隱私權政策
        span.mx-1 /
        a(href="/tos/") 使用者條款
        span.mx-1 /
        a(href="mailto:tkirby@gmail.com") 問題回報

