include /modules/common.pug
.ldcv.ldcvmgr(data-name="error"): .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
  h1 Ooops, Things Broken.
  p We failed to finish your last action/request
  br
  .m-auto.text-left.text-muted
    p Sorry but something went wrong in our system about what you want to do, so your last action might have failed.
    p Please try again later.
    br
    .row.no-gutters
      .col-md.ml-2: .btn.btn-primary.btn-block.btn-lg.mr-2(data-ldcv-set="") Close This Popup
