extends /base.pug
block vars
  - ctrl.navtop.placeholder = false;
  - ctrl.navtop.className = "navbar-light";
block head
block body
  .w-100.h-75(style="background:#999 url(/assets/img/hero.jpg) left center no-repeat"): .vertical-center: .text-center.w-100
    .row.no-gutters
      .col-md
      .col-md.text-left
        div 台灣人工智慧學校執行長
        h1.display-3(style="font-family:serif;font-weight:900"): b 陳昇瑋博士
        .text-muted 1976 - 2020
        +scope("hero-view")
          each i in [1,2]
            .border.border-secondary.p-4.rounded.shadow-sm.ld.ld-float-ltr-in.mt-4(
            class=(i==1?"d-none":""),ld="condolence",data-id=i,
            style="width:90%;max-width:400px;display:inline-block;visibility:hidden")
              .text-lg: b 弔唁
              hr
              div(ld="content") &nbsp;
              .mt-3.text-right(ld="source") &nbsp;

  .w-768.mx-auto.rwd.typeset.heading-contrast.py-4.border.rounded.shadow.p-4.position-relative.bg-white(style="margin-top:-2em")
    h2 線上告別式資訊
    hr
    .mb-4
      div 時間
      div 2020 04/21 09:00
    div
      div 地點
      div #[a(href="https://swchen.online/") swchen.online]

  .w-100.bg-white.p-4
    .w-768.mx-auto.rwd.typeset.heading-contrast.py-4
      h2#experience 生平記事
      .pb-3: hr
      .timeline
        .list
          each i in [1,2,3,4]
            .item
              .title #{1986 + i * i} / #[span.text-sm 提雖臺水學常]
              p 品通代，始轉單定表看事直多快投中明就大。目健整的都稱步是來兒復卻記景。月務燈史木像兩，學何員式公達來臺仍一手美歷畫國無是修，於高樣傳點教前血！念三了了天平上，少提雖臺水學常麼他縣時交車明朋生道候舞識，想時人果明將去電一家常等理強日點眼有議子那速。
  +scope("form").w-100.bg-white
    .w-768.mx-auto.rwd.typeset.heading-contrast.py-4
      h2.mb-4#condolences 線上弔唁
      .form-group
        .text-lg.mb-2: b 您的弔唁
        textarea.form-control(name="content",rows="5")

      .form-group
        .mb-2
          label.mb-0: b 單位 / 姓名
          .text-muted 若有重覆單位或姓名的弔唁，我們僅會留下其中一筆。
        input.form-control(name="source")

      .form-group
        .mb-2
          label.mb-0: b 聯絡方式
          .text-muted 手機、email 等聯絡方式，格式不拘。此資訊僅對家屬公開。
        input.form-control(name="contact")

      .form-group
        .mb-2
          label.mb-0: b 公開
          .text-muted 若選擇「僅提供給家屬」，則您的弔唁將僅提供給家屬，不會被公開展示；若選擇「公開」，則實體 / 線上追思會以及此網站將會輪播您的弔唁。
        select.form-control(name="publish")
          option(value="0") 僅提供給家屬
          option(value="1") 於追思會及此網站公開

      .d-flex.align-items-center
        .btn.btn-outline-secondary.rounded-pill.px-4.disabled(ld="submit") 送出訊息 #[i.i-check]
        .ml-2.text-danger 您尚有未填入的欄位
      .d-flex.text-muted.mt-4
        div 註：
        div
          div 若您登入後再送出，弔唁將會存在您的帳號下。若需要調整弔唁，可以使用該帳號登入調整。
          div 弔唁將會經過管理員審核，以排除無關內容。若您修改過弔唁，您的弔唁將會重新經過審核。


block script
  script: :lsc
    ldc.register \main, <[ldcvmgr auth loader notify]>, ({ldcvmgr, auth, loader, notify}) ->
      lc = {hero-id: 1}
      auth.get!
        .then (authinfo) ->
          lc.authinfo = authinfo
          ld$.fetch.{}headers['X-CSRF-Token'] = authinfo.csrfToken
          if authinfo.{}user.key => ld$.fetch '/d/me/condolence', {method: \GET}, {type: \json}
          else Promise.resolve([])
        .then ->
          data = if it => it.0 or null
          data.publish = if data.publish => \1 else \0
          form = new ldForm do
            root: "[ld-scope=form]"
            submit: "[ld=submit]"
            values: data{content, contact, source, publish}
            afterCheck: (s, f) ->
              s.all = if (<[content source contact]>.reduce(((a, b) -> a and s[b] == 0), true)) => 0 else 2
          if data => form.checkAll!
          view = new ldView do
            root: "[ld-scope=form]"
            action: click: submit: ({node}) ->
              if node.classList.contains \disabled => return
              payload = form.values!
              loader.on!
              debounce 1000
                .then -> ld$.fetch '/d/condolence', {method: \POST}, {json: payload, type: \json}
                .finally -> loader.off!
                .then -> notify.send \success, "您的弔唁已送出。"
                .catch -> notify.send \danger, "送出失敗，再試一次？"

      hero-view = new ldView do
        root: "[ld-scope=hero-view]"
        init-render: false
        handler:
          condolence: ({node}) ->
            data = lc.[]hero-list[lc.hero-idx or 0] or null
            id = +node.getAttribute(\data-id)
            node.style.visibility = \visible
            node.classList.toggle(\d-none, (id == lc.hero-id) or !data)
          content: ({node}) ->
            data = lc.[]hero-list[lc.hero-idx or 0] or {}
            console.log data
            node.innerText = data.content
          source: ({node}) ->
            data = lc.[]hero-list[lc.hero-idx or 0] or {}
            node.innerText = data.source
      ld$.fetch '/d/condolence', {method: \GET}, {type: \json, params: {offset: 0}}
        .then ->
          lc.hero-list = (lc.hero-list or []) ++ it
          setInterval (->
            lc.hero-id = 3 - lc.hero-id
            lc.hero-idx = ((lc.hero-idx or 0) + 1) % ( lc.[]hero-list.length or 1)
            hero-view.render!
          ), 5000
      smoothScroll!
    ldc.app \main
