//- module
extends /base.pug
block vars
  - ctrl.foot.edgeMask = false;
  - ctrl.navtop.placeholder = false;
  - ctrl.carbon.className = "portrait left-bottom dark"
block body
  .w-100.h-100.text-center.vertical-center(
  style="background: center center;background-size:cover")
    div: block content
block script
  +script("/js/modules/core/ldc.js")
  block script
  +script("/js/auth/password.js")
